body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b64d4d;
}
.header {
    background-color: #004d40;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.header img {
    height: 50px;
}
.nav {
    display: flex;
    justify-content: center;
    background-color: #00796b;
    padding: 10px 0;
}
.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: rgb(205, 240, 48);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #00796b;
}
p {
    line-height: 1.6;
}