<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/service.css">
    <title>SprinkleLight Technologies</title>

    <!--Header Section Code-->

    <header>
        <div class="logo-container">
            <img src="/logos/official-logo.png" alt="SprinkleLight Logo" class="logo">
        </div>
        <div class="triangle"></div>
        <nav>
            <ul class="nav-links">
                <li><a href="home.html">Home</a></li>
                <li><a href="AboutUs.html">About Us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section id="header" class="heading">
                <h2>Services We Provide</h2>
        </section>

        <section class="hero-section">
            <div class="hero-content">
                <p class="tagline">Mobile & Web Development Company</p>
                <h1>Transform Your Digital Presence</h1>
                <p class="description">
                    At SprinkleLight Technologies, we specialize in crafting powerful websites and intuitive mobile applications tailored to meet your business goals. Our customized solutions empower you to stand out in the digital arena and drive measurable success.
                </p>
                <a class="cta-button" href="contact.html">GET STARTED</a>
                <p class="sub-description">
                    From seamless mobile apps for Android & iOS to stunning, responsive websites, we create experiences that delight users and elevate brands.
                </p>
            </div>
            <div class="hero-image">
                <img src="/images/Alerts.png" alt="Hero Illustration">
            </div>
          </section>
      