<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/service.css">
    <title>SprinkleLight Technologies</title>

    <!--Header Section Code-->

    <header>
        <div class="logo-container">
            <img src="/logos/official-logo.png" alt="SprinkleLight Logo" class="logo">
        </div>
        <div class="triangle"></div>
        <nav>
            <ul class="nav-links">
                <li><a href="/templates/home.html">Home</a></li>
                <li><a href="/templates/AboutUs.html">About Us</a></li>
                <li><a href="/templates/services.html">Services</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section id="header" class="heading">
                <h2>Services We Provide</h2>
        </section>

        <section class="hero-section">
            <div class="hero-image">
                <img src="/images/Alerts.png" alt="Hero Illustration">
            </div>
            <div class="hero-content">
                <h1>Android App Developement</h1>
                <p class="description">
                    We craft robust and scalable Android applications tailored to your business needs. Leveraging the latest technologies, we deliver feature-rich apps with intuitive interfaces to engage your audience effectively.                </p>
                <img class="logos" src="android.png" alt="android symbol">
                </div>

            
        </section>
        <section class="hero-section">
            <div class="hero-content">
                <h1>IOS App Developemet</h1>
                <p class="description">
                    Reach the Apple ecosystem with high-performance iOS apps designed to deliver exceptional user experiences. From idea to App Store deployment, we ensure your app stands out.</p>
                    <img class="logos" src="ios_logo.png" alt="IOS logo">
            </div>
            <div class="hero-image">
                <img src="/images/Alerts.png" alt="Hero Illustration">
            </div>
          </section>
          <section class="hero-section">
            <div class="hero-image">
                <img src="/images/Alerts.png" alt="Hero Illustration">
            </div>
            <div class="hero-content">
                <h1>Web Developement</h1>
                <p class="description">
                    Your online presence starts with us! Whether it’s a static website, dynamic platform, or websites built with WordPress and Wix, we create responsive, fast, and visually stunning websites that drive results.</p>
                    <img class="logos" src="wordpress.logo" alt="wordpress logo">
                    <img class="logos" src="wix.logo" alt="wix logo">
                </div>
        </section>
        <section class="hero-section">
            <div class="hero-content">
                <h1>graphic-design</h1>
                <p class="description">
                    Turn ideas into compelling visuals with our creative graphic design services. From logos to marketing materials, we ensure your brand captures attention and communicates effectively.</p>
                    <img class="logos" src="photoshop.logo" alt="photoshop logo">
                    <img class="logos" src="ai.logo" alt="ai logo">
                    <img class="logos" src="canva.logo" alt="canva logo">
            </div>
            <div class="hero-image">
                <img src="/images/Alerts.png" alt="Hero Illustration">
            </div>
        </section>
        <section class="hero-section">
           
            <div class="hero-image">
                <img src="/images/Alerts.png" alt="Hero Illustration">
            </div>
            <div class="hero-content">
                <h1>UI/UX Design</h1>
                <p class="description">
                    We focus on designing user-friendly and aesthetically pleasing interfaces that enhance usability and ensure a seamless user journey.</p>
                    <img class="logos" src="figma.logo" alt="figma logo">
                    <img class="logos" src="xd.logo" alt="xd logo">
            </div>
        </section>
        <section class="hero-section">
            <div class="hero-content">
                <h1>Digital Marketing</h1>
                <p class="description">
                    Amplify your online presence with our tailored digital marketing strategies, including SEO, PPC, and content marketing. We help you connect with your audience and achieve measurable growth.</p>
                    <img class="logos" src="googleanalysis.logo" alt="google analysis logo">
                    <img class="logos" src="hubspot.logo" alt="hubspot logo">
            </div>  
            <div class="hero-image">
                <img src="/images/Alerts.png" alt="Hero Illustration">
            </div>
        </section>
        <section class="hero-section">
            <div class="hero-image">
                <img src="/images/Alerts.png" alt="Hero Illustration">
            </div>
            <div class="hero-content">
                <h1>Social Media Management</h1>
                <p class="description">
                    Grow your brand's social media footprint with our professional management services. From content creation to audience engagement, we keep your platforms buzzing with activity.</p>
                    <img class="logos" src="hubspot.logo" alt="hubspot logo">
                    <img class="logos" src="hubspot.logo" alt="hubspot logo">
                    <img class="logos" src="hubspot.logo" alt="hubspot logo">
                    <img class="logos" src="hubspot.logo" alt="hubspot logo">
            </div>
        </section>
        <section class="hero-section">
            <div class="hero-content">
                <h1>Transform Your Digital Presence</h1>
                <p class="description">
                    At SprinkleLight Technologies, we specialize in crafting powerful websites and intuitive mobile applications tailored to meet your business goals. Our customized solutions empower you to stand out in the digital arena and drive measurable success.
                </p>
            </div>
            <div class="hero-image">
                <img src="/images/Alerts.png" alt="Hero Illustration">
            </div>
        </section>
        <section class="hero-section">
            <div class="hero-content">
                <h1>Transform Your Digital Presence</h1>
                <p class="description">
                    At SprinkleLight Technologies, we specialize in crafting powerful websites and intuitive mobile applications tailored to meet your business goals. Our customized solutions empower you to stand out in the digital arena and drive measurable success.
                </p>
            </div>
            <div class="hero-image">
                <img src="/images/Alerts.png" alt="Hero Illustration">
            </div>
        </section>


      